@import "~primer-support/index.scss";

$body-font: 'Calibre-Medium', Helvetica, Arial, sans-serif;
$font-mktg: 'Calibre-Semibold', Helvetica, Arial, sans-serif;
$body-font-size: 20px;
$border-radius: 12px;
$h1-size: 42px;

@import '~@primer/css/index.scss';
