@import "~primer-support/index.scss";
@import 'vars.scss';
@import '~@primer/css/index.scss';
@import '~//at.alicdn.com/t/font_1601044_hgp69etdrkn.css';
@import 'fonts.scss';

html, body, #app {
  background-color: $bg-color;
  min-height: 100vh;
  color: $color;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

h2 {
  font-size: 34px;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 22px;
}

h4 {
  font-weight: normal;
  font-size: 20px;
}

h1, h2, h3 {
  color: $white;
  font-family: $font-mktg;
}

.input-lg {
  padding: 0 8px;
  font-size: $body-font-size;
  height: 48px;
  line-height: 48px;
}

.btn {
  padding: 0 16px;
  height: 48px;
  line-height: 48px;

  &:focus {
    box-shadow: none !important;
  }
}

.flash {
  font-size: $font-size-small;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-200;
  border: 0;
  background-clip: padding-box;

  &:hover {
    background-color: $gray-400;
  }
}

.vue-ui-loading-indicator {
  background-color: transparent !important;

  .animation {
    border-color: transparentize($primary, 0.8);
    border-width: 4px !important;
    width: 28px !important;
    height: 28px !important;
    border-right-color: $primary;
  }
}

.hero {
  background-image: url("https://cdn2.onlyfans.com/files/p/pm/pmf/pmfbnxzdffadmmyyln3l0e1vpii6dk831572719973/header.jpg?Expires=1609911601&Signature=cNKTWuv7h2uaJPVRcx6cN25YjoibnSIjFA07nEnVthNZ9Fhgs5DjEzjMh-x~LGxW70fZccrHhR~3JpqlhV78h9DA0NKScyFhGGXspsOHEF8k62IhrOJRRqKthrHVHvzbeX-yDZYCaaM5Utc4FoH6NtL8eQpHAI-NQUCP3Jfq1Z3N-Rkb9Lff34B3sJxxWe~SSIiim1cf1ZSzsYdaZWoLjPLvj1ieWwJWKdDlP8ty87p1WZNCGH-qDQ5R9EIAdkfXXOgE7~82OW~lcmI45JwIgdqpw5KyXchjdblKPFoCqIodVash5xE9m2s2UOiasZ0GqhrRTfSIqHlmQQogOllzoQ__&Key-Pair-Id=APKAJKLR6VB3PTZVDEBA");
  background-size: cover;
}

.iconfont {
  font-size: 26px;
  line-height: 26px;
  vertical-align: text-bottom;
}

.border, [class*="border-"] {
  border-color: $border-color !important;
}

.btn-mktg {
  padding: 0 26px;
  border-radius: 26px;
  height: 52px;
  font-size: 20px;
  line-height: 52px;
  background-color: $primary;
  border: none;

  &:hover {
    background-color: $primary-100;
  }
}

.form-control {
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 26px;
  background: $bg-input;
  border: none;
  color: white;
  font-size: 22px;
  min-height: 52px;
}

textarea {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}

.input-lg {
  background: $bg-input !important;
}
