@import "~primer-support/index.scss";

$body-font: 'Calibre-Medium', Helvetica, Arial, sans-serif;
$font-mktg: 'Calibre-Semibold', Helvetica, Arial, sans-serif;
$body-font-size: 20px;
$border-radius: 6px;
$h1-size: 42px;
$btn-input-focus-shadow: none;
$font-size-small: 18px;

@import '~@primer/css/index.scss';

@font-face {
  font-family: 'Calibre-Medium';
  src: url('./assets/fonts/Calibre-Medium.eot');
  src: url('./assets/fonts/Calibre-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Calibre-Medium.woff') format('woff'),
  url('./assets/fonts/Calibre-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre-Semibold';
  src: url('./assets/fonts/Calibre-Semibold.eot');
  src: url('./assets/fonts/Calibre-Semibold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Calibre-Semibold.woff') format('woff'),
  url('./assets/fonts/Calibre-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {
  color: $white;
  font-family: $font-mktg;
}

.input-lg {
  padding: 0 8px;
  font-size: $body-font-size;
  height: 48px;
  line-height: 48px;
}

.btn {
  padding: 0 16px;
  height: 48px;
  line-height: 48px;

  &:focus {
    box-shadow: none !important;
  }
}

.flash {
  font-size: $font-size-small;
}


#app {
  min-height: 100vh;
  color: #CBCCCE;
  background-color: #202225;
}
