@import "~primer-support/index.scss";

$body-font: 'Calibre-Medium', Helvetica, Arial, sans-serif;
$font-mktg: 'Calibre-Semibold', Helvetica, Arial, sans-serif;
$body-font-size: 20px;
$border-radius: 6px;
$h1-size: 42px;
$btn-input-focus-shadow: none;
$font-size-small: 18px;

@import '~@primer/css/index.scss';

.input-lg {
  padding: 0 8px;
  font-size: $body-font-size;
  height: 48px;
  line-height: 48px;
}

.btn {
  padding: 0 16px;
  height: 48px;
  line-height: 48px;

  &:focus {
    box-shadow: none !important;
  }
}

.flash {
  font-size: $font-size-small;
}
