$primary: #eb3b8c;
$primary-100: lighten($primary, 10);
$color: rgba(255,255,255,.5);
$bg-color: desaturate(darken(#190f27, 2), 24);
$bg-input: darken($bg-color, 8);

$body-font: 'Calibre-Medium', Helvetica, Arial, sans-serif;
$font-mktg: 'Calibre-Semibold', Helvetica, Arial, sans-serif;
$body-font-size: 20px;
$border-radius: 6px;
$h1-size: 42px;
$btn-input-focus-shadow: none;
$font-size-small: 18px;
$border-color: rgba(204, 195, 222, 0.2);
