$primary: #2e0770;
$primary-100: lighten($primary, 10);
$color: #CBCCCE;
$bg-color: #16181a;

$body-font: 'Calibre-Medium', Helvetica, Arial, sans-serif;
$font-mktg: 'Calibre-Semibold', Helvetica, Arial, sans-serif;
$body-font-size: 20px;
$border-radius: 6px;
$h1-size: 42px;
$btn-input-focus-shadow: none;
$font-size-small: 18px;
